[Unit]
Description=Raspberry Pi Home Automation: Camera Service
After=network.target

[Service]
Type=simple
User=pi
Group=pi
ExecStart=/home/pi/raspberry-home-auto/client/systemd/startup_camera.sh

[Install]
WantedBy=multi-user.target
